

<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
                <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/therapist">Therapist</a></li>
        		<li><a href="/symptoms.html">Symptoms</a></li>
        		<li><a href="/treatment.html">Treatment</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">

        	{{ content }}
	
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dgardelli@gmail.com">email</a></li>
        		<li><a href="https://github.com/craniodeb">Maintenance</a></li>
			</ul>
		</footer>
	</body>
</html>
